# jetbrains project settings
.idea/

# bower files
bower_components/

# vendor files <- npm, bower
js/vendor/

# npm packages <- npm
node_modules/

# data files <- ./data/*
contacts
products
reviews

# gh-pages test folder
_dist/
